section.marq-section {
    background: #cb3236;
    padding: 5px 0;
    height: 34px;
    marquee{
        color: $colorWhite;
        text-transform: uppercase;
    }
}
.hero-section {
    position: relative;
    @include respond (tab-land-after){
        display: flex;
    background: rgba($colorBgBlue, 1);
    @include respond (tab-land-after){
        .hero-slider {
    flex: 0 0 calc(100% - 330px);
    max-width: calc(100% - 330px);
}
.hero-form-area{
    flex: 0 0 330px;
    max-width: 330px;
    @media screen and (min-width:992.1px) {
        text-align: center;
    }
}
    }
    }
    button.owl-prev {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 1rem;
        width: 3rem;
        height: 3rem;
        display: grid;
        place-content: center;
        border: 1px solid $colorWhite !important;
    }

    button.owl-next {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 1rem;
        width: 3rem;
        height: 3rem;
        display: grid;
        place-content: center;
        border: 1px solid $colorWhite !important;
    }

    .fa-solid {
        color: $colorWhite;
    }

    @include respond (tab-port-after) {
        align-items: center;
    }

    @include respond (tab-port-before) {
        place-items: center;
    }

    .form-con {

        h1 {
            font-size: 60px;
            text-transform: uppercase;
        }

        h2 {
            font-size: 36px;
        }

        .global-btn-three {
            border-color: $colorWhite;
            margin-top: 1.5rem;

            &:hover {
                background: $colorWhite;

                a {
                    color: $colorBgBlue;
                }
            }

            a {
                color: $colorWhite;
            }
        }
    }

    .confidence-wrapper {
        position: relative;
        &.building-img{
            img{
                object-position: 100% 55%;
            }
        }

        &::before {
            content: "";
            background: #000;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.5s;
        }

        &:hover{
            &::before{
                opacity: 0;
            }
        }

        img {
            height: 100%;
            object-fit: cover;
            object-position: bottom;

            @media screen and (max-width:991.9px) {
                object-position: bottom right;
            }
        }

        @media screen and (max-width:991.9px) {
            height: 20rem;
        }

        @media screen and (min-width:992px) {
            height: 57rem;
        }

        .confidence-content {
            display: none;
            position: absolute;
            bottom: 0;
            transform: translate(-50%, -50%);
            left: 50%;
            @media screen and (min-width:1000px) {
                max-width: 100rem;
            }

            @media screen and (max-width:768px) {
                padding: 0 4rem;
            }

            h1 {
                font-size: 80px;
                font-weight: 700;
                color: $colorWhite;
                text-transform: uppercase;
                font-family: "Poppins", sans-serif;
                text-shadow: 3px 3px 20px #00000066, -2px 1px 30px #00000066;

                @media screen and (max-width:768px) {
                    font-size: 30px;
                    text-align: center;
                }
            }

            h6 {
                font-size: 24px;
                color: $colorWhite;
                font-family: "Poppins", sans-serif;
                line-height: 1.5;

                @media screen and (max-width:768px) {
                    font-size: 16px;
                    text-align: center;
                }

                @media screen and (min-width:768px) {
                    width: 60rem;
                }

                @media screen and (min-width:1200px) {
                    width: 70rem;
                }
            }
        }
    }
}

.director-section{
    .sub-heading{
        @media screen and (min-width:992px) {
            text-align: left;
        }
        color: rgba($colorBgBlue, 1);
        margin-bottom: 2rem;
        & + .content-para p{
            margin-bottom: 2rem;
        }
    }
    .admit-wraaper {
        background: #C42021;
        text-align: center;
        padding: 5rem;
        color: $colorWhite;
    .admission-open{
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    .content-para{
        margin-top: 1rem;
    }
}
}

.about{
    .service-item {
    position: relative;
    padding-top: 40px;
    &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-image: linear-gradient(90deg, $colorBgBlue 7.5%,  rgba($colorBgBlue, 0.3) 7.5%);
}
&:hover{
    h4{
        color: $colorBgBlue;
    }
}
}
.icon {
   width: 9rem;
    height: 9rem;
    position: relative;
    margin-right: 50px;
    line-height: 1.3;
    border-radius: 50%;
    flex-shrink: 0;
    z-index: 0;
    text-align: center;
    border: 4px solid #fff;
    outline: 4px solid;
    margin-left: 4px;
    span{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 5rem;
        color: $colorWhite;
        font-weight: 700;
    }
    &.way-1{
        background: #1f4b96;
        outline-color: #1f4b96;
    }
    &.way-2{
        background: #075792;
        outline-color: #075792;
    }
    &.way-3{
        background: #0a6d94;
        outline-color: #0a6d94;
    }
    &.way-4{
        background: #077a8d;
        outline-color: #077a8d;
    }
    &.way-5{
        background: #117c6a;
        outline-color: #117c6a;
    }
    &.way-6{
        background: #159655;
        outline-color: #159655;
    }
    &.way-7{
        background: #348934;
        outline-color: #348934;
    }
    &.way-8{
        background: #5b9131;
        outline-color: #5b9131;
    }
    &.way-9{
        background: #7da02a;
        outline-color: #7da02a;
    }
    &.way-10{
        background: #8a951f;
        outline-color: #8a951f;
    }
    &.way-11{
        background: #c5701d;
        outline-color: #c5701d;
    }
    &.way-12{
        background: #ca5220;
        outline-color: #ca5220;
    }
    &.way-13{
        background: #c23a24;
        outline-color: #c23a24;
    }
    &.way-14{
        background: #d73d21;
        outline-color: #d73d21;
    }
    &.way-15{
        background: #91241f;
        outline-color: #91241f;
    }
    &.way-16{
        background: #a61e4c;
        outline-color: #a61e4c;
    }
    &.way-17{
        background: #9c1e67;
        outline-color: #9c1e67;
    }
    &.way-18{
        background: #6e1f4c;
        outline-color: #6e1f4c;
    }
    &.way-19{
        background: #5e2f7f;
        outline-color: #5e2f7f;
    }
    &.way-20{
        background: #3b2c6d;
        outline-color: #3b2c6d;
    }
    &::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: rgba($colorBgBlue, 0.3);
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: 0.3s;
    mix-blend-mode: color-dodge;
}
img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
    padding: 7px;
    object-position: center;
}
}
h4.title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    color: $colorBgBlue;
    transition: $transition;
}
.content-para{
    margin-bottom: 3rem;
    text-align: center;
        transition: $transition;
    @media screen and (min-width:992px) {
        padding: 0 200px;
    }
}
}

.become-teacher{
    .teacher-grid{
        display: grid;
        grid-template-columns: 40% 60%;
        background: rgba($colorBgBlue, 0.1);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 1rem;
        align-items: center;
        @include respond (tab-land-before){
           grid-template-columns: repeat(1, 1fr); 
        }
        .teacher-items{
            &:last-child{
                padding: 0 2.5rem;
            }
            img.img-fluid {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
    @include respond (tab-land-after){
           max-height: 38rem;
        }
}
            .sub-heading{
                margin-bottom: 1rem;
                color: rgba($colorBgBlue, 1);
                @include respond (tab-land-after){
           text-align: left;
        }
            }
            .global-btn-two{
                margin-top: 2rem;
            }
        }
    }
}
.cis-section{
    .heading-six{
        color: $colorWhite;
        background: $colorBgBlue;
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    h2.primary-heading{
        @include respond  (tab-port-after){
            text-align: left!important;
        }
    }
}
.objective{
        background: rgba($colorBgBlue, 1);
        color: $colorWhite;
        padding: 8rem 0;
         @include respond(tab-land-before){
      padding: 5rem 0;
    }
    @include respond(tab-port-before){
      padding: 3rem 0;
    }
        p{
            text-align: center;
            @include respond (small-desktop-after){
                padding: 0 15rem;
            }
        }
    }
    .lightbox{
        position: fixed!important;
        top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    }