.news-grid{
    .nav-link{
         text-align: left;
         color: $colorBgBlue;
         padding: 15px 15px; 
          @include respond (phone-before){
                padding: 10px;
            }
         &:not(:last-child){
            border-bottom: 1px solid $colorBgBlue;
         }
         text-transform: uppercase;
         font-size: 1.6rem;
         font-weight: 600;
        &.active{
            background: $colorBgBlue;
            color: $colorWhite;
            border-bottom: none;
        }
    }
    .fade {
  opacity: 0;
  transition: opacity 0.1s ease-in-out; 
}

.fade.show {
  opacity: 1;
}
.tab-content {
    height: 100%;
}

.sticky-tab {
    position: sticky;
    top: 10rem;
    padding: 20px 20px;
    background: $colorWhite;
    z-index: 3;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
    .news-box{
        position: relative;
        margin-bottom: 3rem;
        &:not(:last-child){
            margin-bottom: 3rem;
        }
        @include respond (tab-port-after){
             display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        }
        &__img{
            @include respond (tab-land-before){
                margin-right: 0;
            }
            img{
                width: 100%;
                height: 24rem;
                object-fit: cover;
                object-position: top;
            }
            .news-title{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &__content{
            padding: 27px 40px 26px;
            background: $colorWhite;
            z-index: 3;
            transition: $transition;
            // position: relative;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            @media screen and (min-width:1400px){
                height:37.5rem;
            }
            @media screen and (min-width:1200px) and (max-width:1399.9px){
                height:50rem;
            }
            @media screen and (min-width:992px) and (max-width:1199.9px){
                height:54rem;
            }
            &::after{
                content: "";
                background: $colorBgBlue;
                height: 4px;
                width: 0;
                position: absolute;
                bottom: -4px;
                left: 0;
                transition: $transition;
            }
            &:hover{
                // transform: translateY(-4px);
                &::after{
                    width: 100%;
                }
            }
            @include respond (phone-before){
                padding: 27px 20px 26px;
                text-align: center;
                p{
                    text-align: left;
                }
            }
             .content-para {
                margin-top: 1rem;
            }
            .date{
                background: $colorBgBlue;
                color: $colorWhite;
                display: inline-block;
                padding: 10px;
                text-align: center;
                font-size: 1.2rem;
                // width: 100%;
                display: none;
                margin-bottom: 2rem;
                font-weight: 400;
                line-height: 1.8!important;
                @include respond (tab-port-after){
                    right: 0;
                    height: auto;
                }
                @include respond (tab-port-before){
                    height: auto;
                    aspect-ratio: auto;
                }
                strong{
                    font-size: 2rem;
                    text-transform: capitalize;
                    line-height: 1;
                    @include respond (tab-land-before){
                        font-size: 1.6rem;
                        line-height: 0;
                    }
                }
            }
            a{
                background: transparent;
                color: $colorBgBlue;
                &:hover{
                    color: $colorWhite;
                    background: $colorBgBlue;
                }
            }
        }
    }
    .heading-fourth{
        text-align: center;
        font-size: 1.8rem;
        text-transform: uppercase;
    }
}