.registration{
    padding: 7rem 0;
    @include respond(tab-land-before){
      padding: 5rem 0;
    }
    @include respond(tab-port-before){
      padding: 3rem 0;
    }
    position: relative;
    background-image: url(https://blog.clickmeeting.com/uploads//2016/11/2016.11.01-Using-The-Webinar-Registration-Form-To-Gain-Marketing-Intelligence.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    &::before{
        content: "";
        background: $colorBgBlue;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0.7;
        height: 100%;

    }
    .container{
        position: relative;
        .registration-grid{
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            @include respond (tab-port-after){
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                align-items: center;
                .left-side{
                    grid-column-start: 1;
                    grid-column-end: 3;
                    height: 100%;
                    width: 100%;
                    background: $colorBgBlue;
                    padding: 5rem;
                    display: flex;
                    align-items: center;
                    border-radius: 2rem 0rem 0rem 2rem;
                    position: relative;
                    &::before{
                        content: "";
                        background-image: url("../images/career-01.png");
                        background-position: bottom;
                        background-size: contain;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 100%;
                        height: 100%;
                        z-index: 0;
                        mix-blend-mode: soft-light;
    opacity: 0.7;
                    }
                    .cis-info {
                    position: relative;
                }
                }
                .right-side{
                    grid-column-start: 3;
                    grid-column-end: 7;
                    background: $colorWhite;
                    padding: 5rem;
                    border-radius: 0 2rem 2rem 0;
                    height: 100%;
                }
            }
        }
    }
    .registrer-social {
    text-align: center;
    margin-top: 3rem;
    strong{
        font-size: 2.4rem;
        font-weight: 300;
        position: relative;
        background: $colorWhite;
        z-index: 0;
        padding: 6px;
        &::before, &::after{
            content: "";
            background: $colorBlack;
            width: 12rem;
            top: 57%;
            height: 1px;
            transform: translateY(-50%);
            position: absolute;
            z-index: -1;
        }
        &::before{
            left: 0;
        }
        &::after{
            right: 0;
        }
    }
    ul {
    margin: 2rem 0 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    li{
        &:nth-child(1){
            i{
                color: #e96651;
            }
        }
        &:nth-child(2){
            i{
                color: #7acdee;
            }
        }
        &:nth-child(3){
            i{
                color: #557dbc;
            }
        }
        &:nth-child(4){
            i{
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                    -webkit-background-clip: text;
                    color: transparent;
            }
        }
        a{
            display: block;
            i {
    font-size: 3rem;
}
        }
    }
}
}
.cis-info{
    .logo {
    background: #fff;
    padding: 10px 30px;
    border-radius: 0 140px 0px 0px;
}
}
.cis-info-content{
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    h6{
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 25px;
    }
    li{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 25px;
        color: $colorWhite;
        font-family: "Montserrat", sans-serif !important;
        &::before{
            filter: brightness(0) sepia(1) invert(2);
        }
    }
}

}

.steps-5{
    .steps-list{
        .register-steps{
            display: flex;
            align-items: center;
            gap: 2rem;
            background-color: #f7f7f7;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            &:not(:last-child){
                margin-bottom: 3rem;
            }
            .reg-wrapper{
                display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: var(--regclr);
    color: #fff;
    width: 10rem;
    height: 10rem;
    strong{
        font-size: 48px;
        line-height: 1;
        margin-bottom: 0;
    }
    span{
        font-size: 14px;
        letter-spacing: 0.5px;
        font-weight: 700;
        text-transform: uppercase;
    }
            }
            .sub-heading{
                text-align: left;
                color: var(--regclr);
            }
        }
    }
}

.r-video{
      position: relative;
    background: transparent;
    width: 100%;
    margin: 38px auto;
    img{
      width: calc(100% - 100px);
    margin: auto;
    display: block;
    }
    &::before{
      content: "";
    background-image: url(../images/sharp-bg.png);
    position: absolute;
    top: -38px;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: -1;
    transform: scale(0.9);
    mix-blend-mode: multiply;
    }
    &::after{
      content: "";
    background-image: url(../images/sharp-bg.png);
    position: absolute;
    right: 0;
    bottom: -38px;
    width: 200px;
    height: 200px;
    z-index: -1;
    transform: scale(0.9);
    mix-blend-mode: multiply;
    }
    .overlayIcon{
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    place-content: center;
    display: grid;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: $colorBgBlue;
    border-radius: 50%;
    color: #fff;
    font-size: 40px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    &::before, &::after{
      content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid $colorBgBlue;
    transition: .5s;
    }
    &::before{
      animation: ripple 2s linear infinite;
    }
    &::after{
      animation: ripple 2s linear 1s infinite;
    }
    i{
      font-size: 2rem;
    }
    }
    }

    .modal-content {
    height: 100%;
}

.modal-content button.btn-close {
    position: absolute;
    right: -30px;
    top: -15px;
    z-index: 1;
    filter: invert(1);
    font-size: 20px;
}

.modal-content .modal-body {
    padding: 0;
}

.modal-dialog.modal-dialog-centered {
    @media screen and (min-width:768px) {
      height: calc(100vh - 100px);
    max-width: calc(100vw - 200px);
    }
    @media screen and (max-width:767.9px) {
      iframe{
        height: 215px;
      }
    }
}